h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.menu h1 {
    color: #70f8ba;
    font-size: 4vw;
}

.menu p {
    color: #ffffff;
}

.slide {
    background-color: #1c1a1a;
    margin: 0px;
    width: 100%;
    height: 100%;
}